<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AURUM — Hotel Reservations</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;1,300;1,400&family=Jost:wght@200;300;400;500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/login.css')}}">

</head>

<body>
    <div id="view-login" class="view active">
        <div class="login-art">
            <h1 class="login-logo">AURUM</h1>
            <p class="login-tagline">Hotel & Residences</p>
            <div class="login-deco"></div>
            <p class="login-quote">"Where every detail is a deliberate act of refinement."</p>
        </div>
        <div class="login-panel">
            <h1 class="login-panel-title display">Bienvenido</h1>
            <p class="login-panel-sub">Acceda a su cuenta para continuar</p>
            <form action="/login" class="formulario" method="POST">
                <div class="login-form">
                    <!-- <div class="login-role-tabs"> -->
                    <!-- <button class="role-tab active" onclick="setRole(this,'guest')">Huésped</button> -->
                    <!-- <button class="role-tab" onclick="setRole(this,'admin')">Recepción</button> -->
                    <!-- </div> -->
                    <div class="input-group">
                        <label class="input-label">Correo electrónico</label>
                        <input class="input-field" name="correo" type="email" placeholder="correo@ejemplo.com">
                    </div>
                    <div class="input-group">
                        <label class="input-label">Contraseña</label>
                        <input class="input-field" name="contrasena" type="password" placeholder="••••••••">
                    </div>
                    <div style="display:flex; justify-content:flex-end;">
                        <a class="link-gold" style="font-size:0.75rem;">¿Olvidó su contraseña?</a>
                    </div>
                    <button class="btn btn-gold w-full" id="loginBtn" onclick="doLogin()"
                        style="margin-top:8px;">Iniciar sesión</button>

                    <div class="login-footer">¿No tiene cuenta? <a class="link-gold">Regístrese aquí</a></div>

                </div>

                <div class="register-form">
                    <!-- Aqui va para el registro de un user nuevo -->
                </div>
            </form>
        </div>
    </div>
</body>

</html>